@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: rgb(209, 196, 196);
  font-size: 20px;
  line-height: 30px;
}

.header {
  font-weight: 700;
  /* color: rgb(209, 196, 196); */
  font-size: 1rem;
  line-height: 1rem;
}

.header a,
.header li {
  color: rgb(209, 196, 196);

  /* text-shadow: 0px 0px 0.2em rgb(0, 0, 0); */
  @media (max-width: 1100px) {
    text-shadow: 0px 0px 0.1em rgb(0, 0, 0);
  }
}
.header__nav-sublist {
  font-size: 0.75rem;
  line-height: 3em;
}
.footer__item {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(209, 196, 196);
}

.content h1 {
  /* color: rgb(209, 196, 196); */
  font-size: 2.5rem;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  /* text-shadow: 0px 0px 0.1em rgb(31, 30, 30), 0px 0px 0.2em rgb(31, 30, 30); */
  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}
.content li {
  list-style-type: disc;
}

.content p {
  text-shadow: 0px 0px 0.1em rgb(31, 30, 30);
  /* text-shadow: none; */
  @media (max-width: 600px) {
    font-size: 0.75rem;
  }
}
.post h2 {
  font-size: 1.5rem;
  line-height: 2em;
  }

.post p {
  font-size: 0.75rem;
  text-shadow: 0px 0px 0.1em rgb(31, 30, 30);
}
.post span {
  font-size: 0.5rem;
  line-height: normal;
}

.carousel__item h3{
  color:black;
  font-size: 0.8rem;
  line-height: 1rem;

}
.carousel__item span{
  color:rgb(207, 56, 56);
  font-size: 0.5rem;
  line-height: normal;
}
.home__news h2,
.home__competitions h2 {
  font-size: 1.5rem;
  color: rgb(31, 30, 30);
  font-weight: 700;
  /* text-shadow: 0px 0px 0.1em rgb(31, 30, 30); */
  /* line-height: 2em; */
}

