@import url("./reset.css");
@import url("./fonts.css");

body,
html {
  background-color: #f0f0f0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  /* align-content: center; */
  vertical-align: middle;
}
.content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #515151;
  /* background-image: linear-gradient(
    to right,
    rgb(131, 106, 106) 0%,
    #f7e6e6 15%,
    #f7e6e6  85%,
    rgb(131, 106, 106) 100%) */
}

.content__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url('./../public/img/bg_knifes_box_1_norm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 10px;
  height: 400px;
  text-align: center;
  @media (max-width: 1100px) {
    height: 200px;
  }
}

.content__top h1 {
  padding-top: 3em;
  @media (max-width: 1100px) {
    padding-top: 1em
  }
}